<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>File successfully uploaded</title>
</head>
<body>
<section layout:fragment="header">
    <h1>
        File successfully uploaded
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Departamento Details</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title"> File successfully uploaded</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->

            </div>
            <!-- /.box -->
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script>
    </script>
</th:block>

</body>
</html>