<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Dashboard</title>
</head>
<body>
<section layout:fragment="header">
    <h1>
        Empleado List
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<div layout:fragment="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Empleado List</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <img th:src="${logoImgPath}" alt="Java Icon" style="width:100px;height:110px;">
                        </div>
                        <div class="col-sm-6">
                            <label hidden></label>
                            <h4 th:text="${logoImgScale}" hidden>......</h4>
                        </div>
                        <div class="col-sm-6">
                            <label hidden></label>
                            <h4 th:text="${reportFileName}" hidden>......</h4>
                        </div>
                    </div>
                    <div class="box-footer center">
                        <a th:href="@{/empleado/add}">
                            <button type="button" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add new</button>
                        </a>
                        <a th:href="@{/empleado/report}">
                            <button type="button" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Report</button>
                        </a>
                        <!--<form th:action="@{/product/list}" method="get">
                            <input type="search" th:value="${param.search}" name='search' placeholder="search">
                            <button type="submit">Search</button>
                        </form>-->
                    </div>
                    <div th:if="${param.success}">
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-check"></i> Success!</h4>
                            Information saved successfully.
                        </div>
                    </div>
                    <div th:if="${param.deleted}">
                        <div class="alert alert-info alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-check"></i> Deleted!</h4>
                            Information deleted successfully.
                        </div>
                    </div>

                    <!--<div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">-->
                    <div class="row">
                            <div class="col-sm-12">
                                <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
                                       aria-describedby="example1_info">
                                    <thead class="thead">
                                    <tr>
                                        <th>Numero</th>
                                        <th>Departamento</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Ciudad</th>
                                        <th>Direccion</th>
                                        <th>Telefono</th>
                                        <th>Fecha</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="empleado : ${listEmpleado}">
                                        <td th:text="${empleado.id}">Numero</td>
                                        <td th:each="departamento : ${departamento}"
                                            th:if="(${departamento.id} == ${empleado.id_departamento})"
                                            th:text="${departamento.nombre}">Departamento
                                        </td>
                                        <td th:text="${empleado.nombre}">Nombre</td>
                                        <td th:text="${empleado.apellido}">Apellido</td>
                                        <td th:text="${empleado.ciudad}">Ciudad</td>
                                        <td th:text="${empleado.direccion}">Direccion</td>
                                        <td th:text="${empleado.telefono}">Telefono</td>
                                        <td th:text="${empleado.fecha_nacimiento}">Fecha </td>
                                        <td>
                                            <a href="#" class="btn btn-primary btn-xs purple editView" title="Edit" th:href="@{'/empleado/edit/' + ${empleado.id}}"><i class="fa fa-edit"></i> Edit</a>
                                            <a href="#" class="btn btn-danger btn-xs purple deleteView" title="Delete" th:href="@{'/empleado/delete/' + ${empleado.id}}"><i class="fa fa-trash-o"></i> Delete</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    <!--</div>-->


                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</div>


<th:block layout:fragment="script">
 <script>
      $(function () {

        $('#example1').DataTable({
          'paging'      : true,
          'lengthChange': false,
          'searching'   : true,
          'ordering'    : true,
          'info'        : true,
          'autoWidth'   : false
        })

        jQuery('#example1_wrapper input').addClass("form-control input-sm"); // modify table search input
      })


</script>
</th:block>
</body>

</html>